.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background: #fff;
    padding-bottom: 30px;
    width: 550px;
    height: 580px;
    border-radius: 16px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 9px;
    margin-top: 30px;
}
.text {
    color: #3c009d;
    font-size: 39px;
    font-weight: 700;
}
.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}
.inputs {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input {
    display: flex;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 480px;
    border-radius: 6px;
    background: #eaeaea;
}
.input img {
    width: 20px;
    margin: 0 30px;
}
.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 19px;
}
.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}
.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray {
    background: #eaeaea;
    color: #676676;
}
